@use "../../colors.scss" as *;

.Home__container {
  display: flex;
  align-items: center;
  height: calc(100vh - 80px);
  gap: 24px;
  padding: 40px 104px;
  flex-direction: column;
  overflow-y: auto;
}

.Home__CityList_container {
  display: flex;
  flex-direction: column;
  width: 410px;
  background-color: $light;
}

.Home__CityList_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: $primary100;
  gap: 8px;
}

.Home__CityList_header_pages_container {
  display: flex;
  gap: 4px;
}

.Home__CityList_header_buttons_container {
  display: flex;
  gap: 8px;
}

.Home__body_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.Home__NearestCities_container {
  display: flex;
  flex-direction: column;
  width: 410px;
  background-color: $grey;
}

.Home__NearestCities_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: 1px solid $grey;
}

@media (max-width: 1024px) {
  .Home__container {
    flex-direction: column;
    padding: 20px 24px;
    height: calc(100vh - 40px);
  }

  .Home__CityList_container {
    width: 320px;
  }

  .Home__NearestCities_container {
    width: 320px;
  }
}

@media (max-width: 600px) {
  .Home__container {
    padding: 16px;
    height: calc(100vh - 32px);
  }
}

@media (max-width: 375px) {
  .Home__container {
    padding: 8px;
    height: calc(100vh - 16px);
  }
}
